.showcase{
    .carousel{
        &-item{
            height: 400px !important;
            > img{
                min-height:100%;
                object-fit: cover;
            }
        }
        &-caption{
            top: 30% !important;
            p, h1{
                text-shadow: -5px 5px 6px rgba(0,0,0,.8);
            }
        }
      
    }
}